
h1{
	color: purple;
	background: red;
	height: 100px;
	width: 400px;

}

p{
	color: skyblue;
	background: yellowgreen;
	height: 100px;
	width: 400px;
	
}

h3{
	color: green;
	background: dimgray;
	height: 100px;
	width: 400px;
	
}